.customInput {
    padding: 5px 15px;
    margin: 5px 0;
    border: 0;
    background-color: #F2F2F2;
    line-height: 2.5;

    border-radius: 10px;
}

.customInput:focus {
    outline-color: #202020;
}

.login {
    background-image: url("../../../media/icons/login-mail.svg");
    padding-left: 3em; /* adjust the padding to accommodate the icon */
    background-repeat: no-repeat;
    background-position: 1em center;
    background-size: 1.5em 1.5em; /* adjust the size of the icon */
}

.password {
    background-image: url("../../../media/icons/password-key.svg");
    padding-left: 3em; /* adjust the padding to accommodate the icon */
    background-repeat: no-repeat;
    background-position: 1em center;
    background-size: 1.5em 1.5em; /* adjust the size of the icon */
}