@use '../../styles/base';

.inputContainer {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 5px;
  border-top: 0;
  border-radius: 10px;
  transition: background-color 0.2s ease-in-out;
  margin-bottom: 5px;
  margin-top: 5px;
}

.inputContainer:hover,
.inputContainer:focus-within {
  background-color: rgba(0, 0, 0, 0.075);
  outline: 0.1em solid base.$primary-color;
  cursor: text;
}

label {
  display: block;
  position: relative;
  left: 0.15em;
  width: max-content;
  font-size: 0.85rem;
  font-weight: 600;
  color: black;
}


.customInput {
  border: 0;
  background-color: transparent;
  line-height: 1.75;
  display: block;
  width: 100%;
}

.customInput:focus {
  outline: none;
  position: relative;
  z-index: 1;
}

@mixin iconSpace() {
  padding-left: 2.5em; /* adjust the padding to accommodate the icon */
  background-repeat: no-repeat;
  background-position: 0.25em center;
  background-size: 1.5em 1.5em; /* adjust the size of the icon */
}

.login {
  background-image: url("../../media/icons/login-mail.svg");
  @include iconSpace;
}

.password {
  background-image: url("../../media/icons/password-key.svg");
  @include iconSpace;
}