.passwordInputContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.togglePasswordVisibilityButton {
    position: absolute;
    right: .5rem;
    border: 0;
    border-radius: 10px;
    background-color: transparent;

    width: 2.5em;
    height: 2.5em;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.togglePasswordVisibilityButton:hover {
    background-color: #c9c9c9;
    cursor: pointer;
}

.passwordInputContainer img {
    width: 20px;
    height: 20px;
    border: 0;
}

