@use '../../styles/base';

.profileContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #fff;
  height: 100vh;

  border: 0;
}

.profileInfo {
  max-width: 100vw;
  width: 100%;

  p {
    margin: auto 1rem;
    max-width: 95%;
    word-wrap: break-word;
  }
}

.nameContainer {
  display: flex;
  flex-direction: column;

  width: 95%;

  p {
    margin: 0.25rem 0;
    max-width: 100%;
    word-wrap: break-word;
  }
}

.topContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;

  button[class*="primary"] {
    max-width: 100%;
    width: 10rem;
  }

  button[class*="secondary"] {
    margin: 0;
    justify-self: flex-end;
  }
}

.bannerImage {
  background-color: grey;
  height: 20vh;
  width: 100vw;
}

.profileImage {
  background-color: darkblue;
  border-radius: 50%;
  min-width: 8rem;
  min-height: 8rem;
  position: relative;
  top: -4rem;
}

@media screen and (min-width: 50em) {
  .profileInfo {
    //max-width: 800px;

    max-width: 50rem;
  }

  .profileContainer {
    align-items: center;

    h2 {
      text-align: right;
      padding: 0;
      margin: 0;
    }
  }

  .nameContainer {
    width: 32%;
  }
}