@use '../../../styles/base';

.inputContainer {
  width: 100%;
  height: 100%;
  background-image: url('../../../media/icons/upload.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 5%;

  cursor: pointer;
  @include base.shadow;

  border-radius: base.$border-radius;
  background-color: #fff;

  transition: background-color 0.15s ease-in;

  &:focus, &:hover {
    background-color: rgba(0, 0, 0, 0.15);
  }

  input[type='file'] {
    cursor: pointer;
    opacity: 0;
    width: 100%;
    height: 100%;
  }
}

.inputContainer.hidden {
  visibility: hidden;
  width: 0;
  height: 0;
}