button {
    line-height: 2;
}

.main {
    padding: 5px 15px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
    border: 1px solid #202020;
    border-radius: 10px;
    background-color: #202020;

    max-width: 80vw;
    width: 30rem;
    margin: 30px 50px 0;

    transition: transform 0.25s ease-in-out;
}

@media screen and (min-width: 40rem) {
    .main {
        max-width: 60vw;
    }
}

.main:not(:disabled):hover {
    transform: scale(1.02);
    background-color: #000000;
}

@keyframes background {
    0% {
        background-color: #303030;
    }
    50% {
        background-color: #707070;
    }
    100% {
        background-color: #303030;
    }
}

.main[disabled] {
    border-color: transparent;
    cursor: not-allowed;
    transition: all 0.3s ease;
    animation: background 2s infinite;
}

.linkButton {
    background: none;
    border: 0;
    text-decoration: underline;
    cursor: pointer;
    color: #404040;

    font-size: 14px;

    max-width: none;
    width: auto;
    align-self: flex-end;
}

.linkButton:hover {
    color: #000;
    text-decoration: none;
}