@use "../../styles/base";

.postContainer {
  border-radius: base.$border-radius;
  display: flex;
  flex-direction: column;
  @include base.shadow;

  margin-bottom: 0.5rem;

  img {
    border-radius: 10px;
    max-width: 100%;
  }
}

.postDescriptionContainer {
  display: flex;
  gap: 2rem;
}