.iconButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 0;
  line-height: 1;
  height: 3rem;
  width: 3rem;
  transition: all 0.1s ease-in-out;
  align-self: center;
  background-color: rgba(0, 0, 0, 0.05);

  &:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }

  img {
    width: 1.5rem;
    height: 1.5rem;
  }
}
