.customTextArea {
    padding: 5px 10px;
    margin: 5px 0;
    border: 0;
    background-color: #F2F2F2;
    line-height: 1.5;
    font-size: 1rem;
    border-radius: 10px;

    box-sizing: border-box;

    /*width: 96%;*/

    font-family: inherit;
    min-height: 3rem;
}

.customTextArea:focus {
    outline-color: #202020;

    position: relative;
    z-index: 1;
}