@use '../../styles/base';

.profileContainer {
  margin: 1.25rem 0;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #fff;

  border-radius: base.$border-radius;

  @include base.shadow;

  border: 0;
}

.profileInfo {
  max-width: 100vw;
  width: 100%;

  p {
    //margin: auto 2rem;
    max-width: 95%;
    word-wrap: break-word;
  }
}

.nameContainer {
  display: flex;
  flex-direction: column;

  width: 95%;

  p {
    margin: 0 1rem;
    line-height: 1.5;
    max-width: 100%;
    word-wrap: break-word;

    b {
      font-size: 1.2em;
    }
  }
}

.bioContainer {
  border-radius: base.$border-radius;
  background-color: base.$back-color;
  padding: 0.5rem;
  margin: 1rem 0.75rem;
  min-height: 3rem;

  p {
    margin: 0;
    font-size: 1rem;
    line-height: 1.25;
  }
}

.topContainer {
  display: flex;
  margin: auto 0.5rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  &>*[class*="List"] {
    flex-grow: 1;
  }
}



.bannerImage {
  border-radius: base.$border-radius base.$border-radius 0 0;
  height: clamp(10vh, 15vh, 20vh);
  width: 100%;
  background: rgb(148, 223, 255);
  background: linear-gradient(329deg, rgba(148, 223, 255, 1) 19%, rgba(255, 226, 240, 1) 63%);
}

.profileImage {
  background-color: base.$back-color;
  border-radius: 50%;
  border: 0.25rem solid #fff;
  min-width: 7rem;
  min-height: 7rem;
  position: relative;
  top: -1.5rem;

  max-width: 7rem;
  max-height: 7rem;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

  img {
    max-width: 100%;
  }
}

@media screen and (min-width: 40rem) {
  .topContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

    margin: auto 2rem;

    &>*[class*="List"] {
      flex-grow: 1;
      max-width: 40rem;
    }
  }


  .profileInfo {
    max-width: 80rem;
  }

  .profileContainer {
    align-items: center;

    h2 {
      text-align: right;
      padding: 0;
      margin: 0;
    }
  }

  .nameContainer {
    width: 32%;

    p {
      margin: 0 2rem;
    }
  }

  .bioContainer {
    margin: 1rem 1.75rem;
  }
}