@use "../../styles/base";

.postsGrid {
  background-color: #fff;
  border-radius: base.$border-radius;
  @include base.shadow;
}

@media screen and (min-width: 50rem) {
  .postsGrid {
    max-width: 80rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-column-gap: 0.5rem;
  }
}