.formContainer {
  display: flex;
  flex-direction: column;

  padding: 2rem;

  max-width: 40rem;
  width: 100vw;
  gap: 0.25rem;
  max-height: 100vh;

  textarea {
    resize: vertical;
  }
}

.imageContainer {
  height: clamp(20vh, 50vh, 60vh);
  min-height: 20vh;
  max-height: 60vh;
  width: 100%;
}