@use '../../../styles/base';

button {
  line-height: 2;
}

@mixin buttonSettings() {
  padding: 0.25rem 0.85rem;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.1s ease-in;
  align-self: center;
}

.primary {
  @include buttonSettings;

  color: #fff;
  border: 1px solid base.$secondary-color;
  background-color: base.$secondary-color;

  &:not(:disabled):hover {
    transform: scale(1.02);
    border: 1px solid base.$primary-color;
    background-color: base.$primary-color;
  }

  &[disabled] {
    border-color: transparent;
    cursor: not-allowed;
    transition: all 0.3s ease;
    animation: background 2s infinite;
  }
}

.secondary {
  @include buttonSettings;
  @include base.shadow;

  color: #000;
  border: 0;
  background-color: #fff;

  &:not(:disabled):hover {
    background-color: #eeeeee;
  }
}

@keyframes background {
  0% {
    background-color: base.$primary-color;
    color: #fff;
  }
  50% {
    background-color: base.$secondary-color;
    color: #fff;
  }
  100% {
    background-color: base.$primary-color;
    color: #fff;
  }
}

.linkButton {
  background: none;
  border: 0;
  padding: 0;
  text-decoration: underline;
  cursor: pointer;
  color: #404040;

  font-size: 14px;

  max-width: none;
  width: auto;
}

.linkButton:hover {
  color: #000;
  text-decoration: none;
}