.imagePreviewContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 100%;
  max-height: 100%;

  width: inherit;
  height: 100%;

  & > img {
    max-width: 95%;
    max-height: 95%;
    overflow: hidden;
    object-fit: contain;
  }

  & > button {
    position: absolute;
    top: 1%;
    left: 1%;
  }
}
