.loaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 3px dashed #2980ff;
    animation: rotate 3s infinite linear;
}


@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}